body {
  background-color: #000;
}

h1 {
  color:#85C1E9;
  font-size:40px;
  text-transform:uppercase;
  font-family:arial;
  margin-left: 10px;
}

h2 {
  color:#fff;
  font-size:20px;
  text-transform:uppercase;
  font-family:arial;
  margin-left: 10px;
  margin-top:40px;
  text-align:center;
}

.author {
  text-align:left;
  font-size:25px;
  margin-top: -25px;
}

.map {
    height: 800px;
    width: 100%;
    padding:3px;
}

.bar {
  height:70px;
  width:100%;
  background-color:#000;
}

#ny {
  margin-top:20px;
}

#nm {
  margin-top:40px;
}


#la {
  margin-top:40px;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #000;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
